name: Build and Push Docker Images

on:
  release:
    types: [published]
  push:
    tags: [v*]
    branches: [main]

permissions:
  contents: read
  id-token: write

env:
  REGISTRY: 795637471508.dkr.ecr.us-east-1.amazonaws.com

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: ${{ secrets.AWS_ECR_PUBLISH_IAM_ROLE }}
          aws-region: us-east-1
    
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1

      - name: Get short SHA
        id: get_sha
        run: echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Get tag name or SHA
        id: get_tag
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/* ]]; then
            echo "GIT_TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV
          else
            echo "GIT_TAG=${{ env.SHORT_SHA }}" >> $GITHUB_ENV
          fi
    
      - name: Build and push requester image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: src/docker/Dockerfile.requester
          push: true
          tags: ${{ env.REGISTRY }}/aws-sso-elevator:requester-${{ env.GIT_TAG }}
          provenance: false

      - name: Build and push revoker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: src/docker/Dockerfile.revoker
          push: true
          tags: ${{ env.REGISTRY }}/aws-sso-elevator:revoker-${{ env.GIT_TAG }}
          provenance: false

      - name: Build and push attribute syncer image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: src/docker/Dockerfile.attribute_syncer
          push: true
          tags: ${{ env.REGISTRY }}/aws-sso-elevator:attribute-syncer-${{ env.GIT_TAG }}
          provenance: false
